.main-window{
    background-color: red;
}

.colored-row{
    padding-top: 2px;
    padding-bottom: 2px;
}

.colored-row:nth-child(odd){
    background-color: lightsalmon;
}

.colored-row:nth-child(even){
    background-color: lightskyblue;
}

.container-centered{
    vertical-align: middle;
    margin: auto;
    display: block;
}

.navbar-height{
    height: 10vh;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}