<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>Add Country</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: navigator"></th:block>
<div class="container">

    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-thumbtack"></i>
            </span>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form th:action="@{/admin/hotel/update}" th:object="${hotel}" method="post">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input id="id" type="text" class="form-control" placeholder="Enter city" th:field="*{id}" readonly required>
                </div>
                <div class="form-group">
                    <label for="name">Update hotel</label>
                    <input name="title" type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}">
                    <input name="title" type="text" class="form-control" id="address" placeholder="Enter address" th:field="*{address}">
                </div>
                <div>
                    <label for="name">Change standard to:</label>
                    <label>
                        <select th:field="*{standard}">
                            <option th:value="3" th:text="3"></option>
                            <option th:value="4" th:text="4"></option>
                            <option th:value="5" th:text="5"></option>
                        </select>
                    </label>
                </div>
                <!--<input name="countryObj" th:value="${city.country}" hidden>-->
                <div class="d-flex justify-content-center">

                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>