<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>Hotel List</title>
</head>
<body>
<th:block th:include="templates :: navigator"></th:block>
<div class="container">
    <div class="row marginless">
        <div class="col-md-12 bordered ">
            <div class="row marginless col-12">
                <h2>Hotel List</h2>
            </div>
            <div class="row marginless col-12 header-row">
                <div class="col-1">
                    <span class="badge badge-info"
                          style="width: 100%; height: 30px; background: #80716b; font-size: 20px">No.</span>
                </div>
                <div class="col-1">
                    <span class="badge badge-info"
                          style="width: 100%; height: 30px; background: #80716b; font-size: 20px">City</span>
                </div>
                <div class="col-2">
                    <span class="badge badge-info"
                          style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Name</span>
                </div>
                <div class="col-2">
                    <span class="badge badge-info"
                          style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Address</span>
                </div>
                <div class="col-2">
                    <span class="badge badge-info"
                          style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Standard</span>
                </div>
            </div>
            <div class="row col-12 marginless table-row" th:each="element,index : ${hotelList}">
                <div class="col-1" align="center" th:text="${index.index}+1"></div>
                <div class="col-1" th:text="${element.city.getName()}"></div>
                <div class="col-2" th:text="${element.getName()}"></div>
                <div class="col-2" th:text="${element.getAddress()}"></div>
                <div class="col-2" align="center" th:text="${element.getStandard()+'*'}"></div>

                <div class="col-2">
                    <form th:action="@{/admin/hotel/update}" th:method="get">

                        <input type="text" th:value="${element.getId()}" name="hotelId" hidden>
                        <button style="color: #25ff38; height:40px;width:100px" type="submit"
                                class="btn btn-outline-primary">Update
                        </button>
                    </form>
                </div>
                <div class="col-2">
                    <form th:action="@{/admin/hotel/delete}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="hotelId" hidden>
                        <button style="height:40px;width:100px; color: red;" type="submit"
                                class="btn btn-outline-primary">Delete
                        </button>
                    </form>
                </div>
            </div>
                <div class="col-2">
                    <form th:action="@{/admin/city/list}" th:method="get">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg">List of all cities</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>