<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="headers">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</th:block>

<th:block th:fragment="footer_scripts">
    <script th:href="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</th:block>

<th:block th:fragment="navigator">

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">

        <a class="navbar-brand" th:href="@{/}"><h1 style="color: #d1d3cd">TA</h1></a>

        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
            <div class="navbar-nav btn-group mr-2" aria-label="First group">

                <a type="btn" class="btn btn-outline-light btn-lg float-right"
                   sec:authorize="hasRole('USER')"
                   th:text="${#authentication.name}">
                </a>
                <a type="btn" class="btn btn-outline-light btn-lg float-right"
                   sec:authorize="hasRole('ADMIN')"
                   th:text="${#authentication.name}">
                </a>
                <a type="btn" class="btn btn-outline-light btn-lg float-right"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/login}">Login
                </a>
                <a type="btn" class="btn btn-outline-light btn-lg float-right"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/logout}">Logout
                </a>
                <a type="btn" class="btn btn-outline-light btn-lg float-right"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/user/register}">Register
                </a>

            </div>

            <div class="navbar-nav btn-group mr-2" aria-label="Second group">
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('USER')"
                   th:href="@{/user/trip/list}">Find trip
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/trip/add}">Add trip
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/trip/list}">List of trips
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/user/list}">List of users
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/country/add}">Add Country

                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/country/list}">List of countries
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/city/list}">List of cities
                </a>
                <a type="btn" class="btn btn-light btn-lg float-right mr-1"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/hotel/list}">List of hotels
                </a>
            </div>

            <!--&lt;!&ndash;TODO: Figure out why bootstrap dropdown buttons don't work to improve this menu&ndash;&gt;-->
            <!--<div class="navbar-nav btn-group mr-2" aria-label="Third group">-->
            <!--<a type="btn" class="btn btn-outline-light btn-lg float-right" sec:authorize="isAuthenticated()" th:href="@{/task/add}">-->
            <!--Add Task-->
            <!--</a>-->
            <!--<a type="btn" class="btn btn-outline-light btn-lg float-right" sec:authorize="isAuthenticated()" th:href="@{/task/list}">-->
            <!--All Tasks-->
            <!--</a>-->
            <!--<a type="btn" class="btn btn-outline-light btn-lg float-right" sec:authorize="isAuthenticated()" th:href="@{/task/active}">-->
            <!--Active Tasks-->
            <!--</a>-->
            <!--<a type="btn" class="btn btn-outline-light btn-lg float-right" sec:authorize="isAuthenticated()" th:href="@{/task/inactive}">-->
            <!--Inactive Tasks-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </nav>
</th:block>

</html>