<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>List of trips</title>
</head>
<body>
<th:block th:include="templates :: navigator"></th:block>
<div class="container">
    <div class="row marginless">
        <div class="col-md-12 bordered ">
            <div class="row marginless col-12">
                <h2>List of trips</h2>
            </div>
            <div class="row marginless col-12 header-row">
                <div class="col-1">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Trip</span></div>
                <div class="col-2">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">From-to</span>
                </div>
                <div class="col-3">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Dates</span></div>
                <div class="col-2">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Hotel</span>
                </div>
                <div class="col-1">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">Price</span>
                </div>
                <div class="col-1">
                     <span class="badge badge-info"
                           style="width: 100%; height: 30px; background: #80716b; font-size: 20px">PAX</span>
                </div>
            </div>
            <div class="row col-12 marginless table-row" th:each="element,index : ${tripList}">
                <div class="col-1" th:text="${element.getName()}"></div>
                <div class="col-2" th:text="${element.cityFrom.getName() + '-' + element.cityTo.getName()}"></div>
                <div class="col-3" th:text="${element.startTripDate + '-' + element.endTripDate}"></div>
                <div class="col-2" th:text="${element.hotel.getName() + ' ' + element.hotel.getStandard()+ '*'}"></div>
                <div class="col-1" th:text="${element.getPrice()}"></div>
                <div class="col-1" th:text="${element.getPassengers()}"></div>

                <div class="col-1">
                    <form th:action="@{/admin/trip/update}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="tripId" hidden>
                        <button style="color: #25ff38; height:35px;width:80px" type="submit"
                                class="btn btn-outline-primary">Update
                        </button>
                    </form>
                </div>

                <div class="col-1">
                    <form th:action="@{/admin/trip/delete}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="tripId" hidden>
                        <button style="height:35px;width:80px;color: red;" type="submit"
                                class="btn btn-outline-primary">Delete
                        </button>
                    </form>
                </div>

            </div>

            <div class="col-2">
                <form th:action="@{/admin/trip/add}" th:method="get">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">Add Trip</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>