<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>Add Country</title>
    <script>
        function changeCity() {
            var selectField = document.getElementById("selectField");

            var cityId = selectField.options[selectField.selectedIndex].value;

            window.location.href = "http://localhost:8080/admin/trip/addToCity?city=" + cityId;
        }
    </script>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: navigator"></th:block>
<div class="container">

    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-thumbtack"></i>
            </span>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12" align="center">
            <form class="col-12" th:action="@{/admin/trip/add}" th:object="${tripObject}" method="post">
                <div class="form-group col-12">
                    <div class="row col-12">
                        <label for="taskTitle" style="font-size: 35px;">Create new trip</label>
                    </div>
                    <div class="row col-12">
                        <div class="col-2">
                            <span class="badge badge-info"
                                  style="width: 100%; height: 30px; background: green; font-size: 20px">Trip</span>
                            <input name="title" type="text" class="form-control" id="taskTitle"
                                   placeholder="Name of trip"
                                   th:field="*{name}">
                        </div>
                        <div class="col-3">
                            <span class="badge badge-info"
                                  style="width: 100%; height: 30px; background: green; font-size: 20px">City From</span>
                            <select class="form-control" th:field="*{cityfromId}">
                                <option th:each="city : ${cities}"
                                        th:text="${city.name + ' - ' + city.country.getName()}"
                                        th:value="${city.id}"></option>
                            </select>
                        </div>
                        <div class="col-3">
                            <span class="badge badge-info"
                                  style="width: 100%; height: 30px; background: green; font-size: 20px">City To</span>
                            <select id="selectField" class="form-control" th:field="*{cityToId}"
                                    onchange="changeCity()">
                                <option th:each="city : ${cities}"
                                        th:text="${city.name + ' - ' + city.country.getName()}"
                                        th:value="${city.id}"></option>
                            </select>
                        </div>

                        <div class="col-3">
                            <span class="badge badge-info"
                                  style="width: 100%; height: 30px; background: green; font-size: 20px">Hotel</span>
                            <select class="form-control" th:field="*{hotelId}">
                                <option th:each="hotel : ${hotels}"
                                        th:text="${hotel.name + ' ' + hotel.getStandard() + '*'}"
                                        th:value="${hotel.id}"></option>
                            </select>
                        </div>
                        <div class="row col-12">
                            <div class="col-3">
                            <span class="badge badge-info"
                                  style="width: 100%; height: 30px; background: green; font-size: 20px">Start date</span>
                                <input name="title" type="date" class="form-control" id="startTripDate"
                                       placeholder="Start date" th:field="*{startTripDate}">
                            </div>
                            <div class="col-3">
                             <span class="badge badge-info"
                                   style="width: 100%; height: 30px; background: green; font-size: 20px">End date</span>
                                <input name="title" type="date" class="form-control" id="endTripDate"
                                       placeholder="End date"
                                       th:field="*{endTripDate}">
                            </div>
                            <div class="col-2">
                             <span class="badge badge-info"
                                   style="width: 100%; height: 30px; background: green; font-size: 20px">Passengers</span>
                                <input name="title" type="number" class="form-control" id="passengers"
                                       placeholder="Passengers"
                                       th:field="*{passengers}">
                            </div>

                            <div class="col-2">
                             <span class="badge badge-info"
                                   style="width: 100%; height: 30px; background: green; font-size: 20px">Price</span>
                                <input name="title" type="number" class="form-control" id="price" placeholder="Price"
                                       th:field="*{price}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">

                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>