<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>User Trip List</title>
</head>
<body>
<th:block th:include="templates :: navigator"></th:block>
<div class="container">
    <div class="row marginless">
        <div class="col-md-12 bordered ">
            <div class="row marginless col-12">
                <h2>Trip List</h2>
            </div>
            <div class="row marginless col-12 header-row">
                <div class="col-1">Trip No.</div>
                <div class="col-2">City from</div>
                <div class="col-3">City to</div>
                <div class="col-1">Price</div>
            </div>
            <div class="row col-12 marginless table-row" th:each="element,index : ${userTripList}">
                <div class="col-1" th:text="${element.getName()}"></div>
                <div class="col-2" th:text="${element.cityFrom.getName()}"></div>
                <div class="col-3" th:text="${element.cityTo.getName()}"></div>
                <div class="col-1" th:text="${element.getPrice()}"></div>

                <!--OPIS-->

                <div class="col-2">
                    <form th:action="@{/user/trip/details}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="tripId" hidden>
                        <button style="color: #25ff38; height:40px;width:100px" type="submit"
                                class="btn btn-outline-primary">Details
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 <th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>