<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>Details List</title>
</head>
<body>
<th:block th:include="templates :: navigator"></th:block>
<div class="container">
    <div class="row marginless">
        <div class="col-md-12 bordered ">
            <div class="row marginless col-12">
                <h2>Details List</h2>
            </div>
            <div class="col-12 marginless" th:object="${userTripDetails}">

                <div class="row">
                    <div class="col-4">Trip Name:</div>
                    <div class="offset-1 col-2" th:text="*{name}"></div>
                </div>

                <div class="row">
                    <div class="col-4">City from:</div>
                    <div class="offset-1 col-2"
                         th:text="*{cityFrom.getName() +' ('+cityFrom.country.getName()+')'}"></div>
                </div>

                <div class="row">
                    <div class="col-4">City to</div>
                    <div class="offset-1 col-2"
                         th:text="*{cityTo.getName() +' ('+cityTo.country.getName()+')'}"></div>
                </div>

                <div class="row">
                    <div class="col-4">Start date</div>
                    <div class="offset-1 col-3" th:text="*{startTripDate}"></div>
                </div>

                <div class="row">
                    <div class="col-4">End date</div>
                    <div class="offset-1 col-3" th:text="*{endTripDate}"></div>
                </div>


                <div class="row">
                    <div class="col-4">Hotel name</div>
                    <div class="offset-1 col-3" th:text="*{hotel.getName()}"></div>
                </div>

                <div class="row">
                    <div class="col-4">Hotel address</div>
                    <div class="offset-1 col-3" th:text="*{hotel.getAddress()}"></div>
                </div>

                <div class="row">
                    <div class="col-4">Hotel standard</div>
                    <div class="offset-1 col-3" th:text="*{hotel.getStandard() + '*'}"></div>
                </div>

                <div class="row">
                    <div class="col-4">Price</div>
                    <div class="offset-1 col-3" th:text="*{price}"></div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>